{% extends 'base.html' %}

{% block titulo %}Registro{% endblock %}

{% block items %}
    <li><a href="sign_in">Inicio Sesión</a></li>
    <li><a href="register">Registro</a></li> 
{% endblock %}    
    

{% block contenido %}
    <h1>Registro</h1>
    <form method="post" action="register">
        <label for="username">Email</label>
        <input name="username" id="username" type="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Registrarse">
    </form>
{% endblock %}
