{% extends 'base.html' %}

{% block titulo %}Inicio Sesión{% endblock %}

{% block items %}
    <li><a href="sign_in">Inicio Sesión</a></li>
    <li><a href="register">Registro</a></li> 
{% endblock %}  

{% block items2 %}
    <li><a href="sign_in">Inicio Sesión</a></li>
    <li><a href="register">Registro</a></li> 
{% endblock %}

{% block contenido %}    

    <div class="row">        
        <h4 class="col s12 center-align">Inicio Sesión</h4>
        <form method="post" action="sign_in" class="offset-s3 offset-l4 col s6 l4 z-depth-2" style="padding: 10px;">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input name="username" id="username" type="email" class="validate" required>
                <label for="username">Email</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input name="password" id="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>            
            <div class="container">
                <div class="offset-s3 col s6">
                    <button class="btn waves-effect waves-light" type="submit">
                        Ingresar
                        <i class="material-icons right">send</i>
                    </button>
                </div>                
            </div>
            
        </form>
    </div>
{% endblock %}