<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/materialize.css') }}">
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Practica Login y Tokenización</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% block items %} {% endblock %} 
            </ul>
        </div>
    </nav>
    {% block contenido %}{% endblock %}
    <script src="{{ url_for('static', filename= 'js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/materialize.js') }}"></script>
    
</body>
</html>