{% extends 'base.html' %}

{% block meta %}
    <!--refresco de pagina cada 30 segundos, para verificar que el token aun sea valido-->
    <meta http-equiv="refresh" content="30">
{% endblock %}


{% block titulo %}Home{% endblock %}

{% block items %}
    <li><a href="logout">Logout</a></li>    
{% endblock %}  

{% block items2 %}
    <li><a href="logout">Logout</a></li> 
{% endblock %}

{% block contenido %}
    <div class="row">
        <h4 class="offset-s3 col s6 center-align">Home user</h4>
    </div>  
    <div class="row">
        <div class="offset-s4 col s4 z-depth-2">
            <div class="row">                
                <img class="offset-s3 col s6 center-align circle" src="{{ url_for('static', filename= 'img/user.jpeg') }}" alt="imagen usuario">
            </div>
            <div class="container">
                <table class="striped">
                    <tbody>
                        <tr>
                            <td>Email:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td>{{ user.password }}</td>
                        </tr>
                    </tbody>
                </table>            
            </div>
        </div>

    </div>  
    
    

{% endblock %}

